
*{
    box-sizing: border-box;
    padding: 12px;
    width: auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Alkatra';
    font-size: 22px;
    background-color: rgb(219, 200, 200);
}
  
header .logo{
    width: 20%;
    height: auto;
    padding-right: 10px;
}
  
header .header-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
header .header-content h1, header .header-content p{
    font-style: italic;
    color: rgb(129, 79, 79);
    padding-right: 192px;
}
  
header .header-content h1{
    padding-top: .01em;
}

main .item-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
main img{
    width:90%
}
main .item-details{
    text-align: center;
    padding: 10px 20px;
}