body{
    padding: 5.3%;
}
header{
    background-color: blanchedalmond;
    width: fit-content;
    padding: 20px 60px;
}
header h3{
    font-size:39px;
    white-space: pre-line;
}
#flexin_details{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#image_container:nth-child(1){
    box-sizing: border-box;
    border: 12px solid rgb(218, 206, 139);
    padding: 10px;
    width: fit-content;
    white-space: nowrap;
    overflow: auto;
    height:fit-content;
}
img{
    width: 320px;
    height: auto;
    padding: 10px;
}
#Details{
    border: 1px solid salmon;
    margin-left: 90px;
    padding: 4% 6%;
}
#buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
#buttons button{
    background-color:rgb(236, 175, 84);
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
}
.scroll-buttons{
    position: absolute;
    display: flex;
    width: 50px;
    justify-content: space-between;
    gap: 327px;
    left:57px;
    top: 82%;
}
.scroll-buttons button{
    padding: 26%;
    background-color:bisque;
    width:60px;
    border-radius: 60%;
    border: 1px solid transparent;
    height:45px;
    justify-content: center;
    text-align: center;
    font-size: 100%;
    font-style: bold;
}
@media only screen and (max-width: 600px) {
    body{
        padding: 3%;
    }
    header{
        background-color: blanchedalmond;
        width: fit-content;
        padding: 5px 15px;
    }
    header h3{
        font-size:20px;
        white-space: pre-line;
    }
    #flexin_details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 40px;
    }
    #image_container:nth-child(1){
        box-sizing: border-box;
        border: 5px solid rgb(218, 206, 139);
        padding: 2px;
        width: 368px;
        height: auto;
        white-space: nowrap;
        overflow: auto;
        height:fit-content;
    }
    img{
        height: auto;
        padding: 10px;
    }
    #Details{
        margin-top: 30px;
        border: 1px solid salmon;
        margin-left: 1px;
        padding: 4% 6%;
    }
    #buttons{
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
    }
    #buttons button{
        background-color:rgb(236, 175, 84);
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        border-radius: 12px;
    }
    .scroll-buttons{
        position: absolute;
        display: flex;
        width: 50px;
        justify-content: space-between;
        gap: 295px;
        left:-5px;
        top: 39%;
    }
    .scroll-buttons button{
        padding: 26%;
        background-color:bisque;
        width:60px;
        border-radius: 60%;
        border: 1px solid transparent;
        height:45px;
        justify-content: center;
        text-align: center;
        font-size: 100%;
        font-style: bold;
    }
}