body{
    padding: 5.3%;
}
header{
    background-color: blanchedalmond;
    width: fit-content;
    padding: 20px 60px;
}
header h3{
    font-size:39px;
    white-space: pre-line;
}
#flexin_details{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
#image_container:nth-child(1){
    box-sizing: border-box;
    border: 12px solid rgb(218, 206, 139);
    padding: 3px;
    width: 325px;
    width: fit-content;
    white-space: nowrap;
    overflow: auto;
    height:fit-content;
}
img{
    width: 260px;
    height: 322px;
    padding: 10px;
}
#Details{
    border: 1px solid salmon;
    border-radius: 26px;
    margin-left: 90px;
    padding: 4% 6%;
}
#buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
#buttons button{
    background-color:rgb(236, 175, 84);
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 12px;
}
.scroll-buttons{
   position: absolute;
   display: flex;
   width: 50px;
   justify-content: space-between;
   gap: 285px;
   left:-25px;
   top: 30%;
}

.scroll-buttons button{
    padding: 26%;
    background-color:bisque;
    width:60px;
    border-radius: 60%;
    border: 1px solid transparent;
    height:45px;
    justify-content: center;
    text-align: center;
    font-size: 100%;
    font-style: bold;
}
@media screen and (max-width: 768px) {
    header{
        padding: 10px;
    }
    header h3{
        font-size: 24px;
    }
    #flexin_details{
        display: block;
        margin-top: 20px;
    }
    #image_container{
        overflow: auto;
        white-space: nowrap;
        padding: 10px;
        margin-bottom: 52px;
    }
    #image_container img{
        width: 60%;
        height: auto;
        margin: 5px;
    }
    #Details{
        margin-left: 0;
    }
    #buttons{
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    #buttons button{
        margin: 10px auto;
        width: 80%;
    }
    .scroll-buttons{
        position: sticky;
        display:block;
        margin: 10px;
        top: auto;
        left: 0;
        z-index: 12;
        width: 150px;
    }
    .scroll-buttons button{
        position: relative;
        display: inline-block;
        margin: 10px;
        width: 40%;
        padding: 10%;
        font-size: 14px;
    }
}

